/*  .☻/ 
    /▌ . H e l l o . . . Estilos Base CCS 
    / \
|☠| ¯\_(ツ)_/¯ |☠| ಠ_ಠ |☠| ƪ (ړ ײ) ƪ |☠| <(^ _ ^)>|☠| (ง • ̀_ • ́) ง |☠| */
:root {
    --main-color-black: #212121;
    --main-color-blue: #2196f3;
    --main-color-white: #fff;
    --main-text: 'Raleway';
}
body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: var(--main-color-black);
    font-size: 14px;
    letter-spacing: 0.03em;
}
.button-property {
    cursor: pointer;
}
.list-none {
    list-style: none;
    text-align: ;
}
.header-nav-links {
    color: var(--main-color-black);
}
.logo-link {
    font-family: var(--main-text);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.header-nav-links,
.header-contacts {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.footer-address-location,
.footer-address-mail,
.footer-address-phone,
.main-section-characteristics-description {
    line-height: 1.71;
}
.logo-link,
.logo-link:hover,
.logo-link:focus,
.logo-link:active,
.header-nav-links:hover,
.header-nav-links:focus,
.header-nav-links:active,
.header-nav-links:target,
.header-contacts:hover,
.header-contacts:focus,
.header-contacts:active,
.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-mail:active,
.footer-address-location:hover,
.footer-address-location:focus,
.footer-address-location:active,
.footer-address-phone:hover,
.footer-address-phone:focus,
.footer-address-phone:active {
    color: var(--main-color-blue);
    outline: none;
}
.section-menu-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: #f5f4fa;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 4px;
    border: none;
    font-family: inherit;
}
.section-menu-links-aling,
.main-section-images {
    text-align: center;
}
.section-menu-links:hover,
.section-menu-links:focus,
.section-menu-links:active,
.section-menu-links:target {
    color: var(--main-color-white);
    background: var(--main-color-blue);
}
.logo-link,
.header-contacts,
.header-nav-links,
.footer-address-location,
.footer-address-mail,
.footer-address-phone {
    text-decoration: none;
}
.main-section {
    text-align: center;
    letter-spacing: 0.06em;
}
.main-section,
.footer-reference-data {
    background: #2f303a;
}
.main-section-title-body,
.footer-address-location {
    color: var(--main-color-white);
}
.main-section-title-body {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
}
.main-section-button {
    color: var(--main-color-white);
    background-color: var(--main-color-blue);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 4px;
    border: none;
    font-family: inherit;
}
.main-section-button:hover,
.main-section-button:focus,
.main-section-button:active {
    background-color: #188ce8;
    outline: none;
}
.main-section-characteristics-titles {
    text-transform: uppercase;
}
.button-property,
.main-section-characteristics-titles {
    font-weight: 700;
    line-height: 1.14;
}
.main-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.main-section-team {
    background-color: #f5f4fa;
}
.main-section-team-description {
    font-size: 16px;
    line-height: 1.18;
}
.main-section-team-titles {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
/* .section-all-content-images-size {
    width: 370px;
    height: 294px;
} */
.section-all-content-description {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section-all-content-type {
    font-size: 16px;
    line-height: 1.87;
}
.header-contacts,
.main-section-characteristics-description,
.main-section-team-description,
.section-all-content-type {
    color: #757575;
}
/* .main-section-images-size {
    width: 373.16px;
    height: 323.7px;
} */
/* .main-section-team-images-size {
    width: 270px;
    height: 260px;
} */
.main-section-team-list {
    text-align: center;
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); */
    border-radius: 0px 0px 4px 4px;
}
.main-section-team-list,
.section-all-content-list {
    background-color: var(--main-color-white);
}
.section-all-content-list {
    border: 1px solid #eee;
}
.footer-address-phone,
.footer-address-mail {
    color: rgba(255, 255, 255, 0.6);
}
/* Importar Fuentes https://fonts.google.com 
GitHub-repositories
https://github.com/CODEKAPP/goit-markup-hw-02
GitHub-Pages
https://codekapp.github.io/goit-markup-hw-02/

*/

/* .section{
    display: flex;
    justify-content: space-between;
} */
