/*  .☻/ 
    /▌ . H e l l o . . . Estilos Base CCS 
    / \
|☠| ¯\_(ツ)_/¯ |☠| ಠ_ಠ |☠| ƪ (ړ ײ) ƪ |☠| <(^ _ ^)>|☠| (ง • ̀_ • ́) ง |☠| */
*,
::before,
::after {
    box-sizing: border-box;
}
:root {
    --main-color-black: #212121;
    --main-color-blue: #2196f3;
    --main-color-blue-90: rgba(33, 150, 243, 0.9);
    --main-color-white: #fff;
    --main-text: 'Raleway';
    --main-color-header: #ececec;
    --main-color-background-white: #f5f4fa;
    --main-color-background-icons: #afb1b8;
}
body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: var(--main-color-black);
    font-size: 14px;
    letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
}
.header-container,
.header-container-nav,
.header-container-nav-list,
.header-container-contacts,
.header-container-contacts-list,
.main-section-characteristics-list,
.main-section-images,
.main-section-team-professional-list,
.section-menu-links-aling,
.section-all-content,
.main-section-team-list-icons-professional,
.footer-websites-list-icons-links,
.main-section-customers-list-icons-business,
header {
    display: flex;
}
.header-container,
.header-contacts,
.header-container-nav-list,
.container-contacts-list > .header-contacts {
    align-items: center;
    display: inline-flex;
}
.header-container-contacts-list {
    margin-left: auto;
    align-items: center;
}
.header-contacts-ico {
    margin-right: 10px;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.main-section-profession {
    padding-bottom: 94px;
}
.header-container-nav > .logo-link {
    margin-right: 93px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-color {
    border-bottom: 1px solid var(--main-color-header);
}
.container-nav-list {
    padding: 32px 0;
}
.container-nav-list:not(:last-child) {
    margin-right: 50px;
}
.container-contacts-list:last-child {
    margin-left: 50px;
}
.container-imagenes-team {
    padding: 30px 0;
}
.footer-reference-data {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo-link {
    margin-bottom: 9px;
    display: block;
}
.footer-address-location {
    margin-bottom: 2px;
    display: block;
}
.footer-list:first-child {
    margin-bottom: 2px;
}
.button-property {
    cursor: pointer;
}
.list-none {
    list-style: none;
}
.header-nav-links {
    color: var(--main-color-black);
}
.logo-link {
    font-family: var(--main-text);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.header-nav-links,
.header-contacts {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
}
.footer-address-location,
.footer-address-mail,
.footer-address-phone,
.main-section-characteristics-description {
    line-height: 1.71;
    font-style: normal;
}

.logo-link,
.logo-link:hover,
.logo-link:focus,
.logo-link:active,
.header-nav-links:hover,
.header-nav-links:focus,
.header-nav-links:active,
.header-nav-links:target,
.header-contacts:hover,
.header-contacts:focus,
.header-contacts:active,
.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-mail:active,
.footer-address-location:hover,
.footer-address-location:focus,
.footer-address-location:active,
.footer-address-phone:hover,
.footer-address-phone:focus,
.footer-address-phone:active {
    color: var(--main-color-blue);
    outline: none;
    fill: var(--main-color-blue);
}

.list-none .header-nav-links.header-nav-links-active {
    color: var(--main-color-blue);
}
.list-none .section-menu-links.section-menu-links-button-active {
    color: var(--main-color-white);
    background: var(--main-color-blue);
}
.section-menu-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: var(--main-color-background-white);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 4px;
    border: none;
    font-family: inherit;
    padding: 6px 0;
}
.section-menu-links-aling,
.main-section-images {
    text-align: center;
}
/*  */
.data-modal-close-button {
    background: #ffffff;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    /* box-sizing: border-box; */
    border: none;
    margin: 8px;
}

.modal {
    margin: 221px auto;
    width: 528px;
    height: 581px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.data-modal-close-div {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.backdrop {
    position: fixed;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.2);
    color: brown;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-property: background-color, opacity, background, position;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
}

.section-menu-links:hover,
.section-menu-links:focus,
.section-menu-links:active,
.section-menu-links:target {
    color: var(--main-color-white);
    background: var(--main-color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section-all-content-list,
.logo-link,
.header-nav-links,
.header-contacts,
.footer-address-mail,
.footer-address-location,
.footer-address-phone,
.section-menu-links,
.main-section-button,
.section-all-content-list,
.list-icons-customers,
.list-icons-team,
.list-icons-websites,
.section-all-content-list-information-div-text,
.header-nav-links-after,
.section-all-content-list {
    transition-property: box-shadow, background-color, color, fill, background ;
    
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-duration: 2050ms; */
    /* transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08); */
}

.section-all-content-list:hover,
.section-all-content-list:focus,
.section-all-content-list:active,
.section-all-content-list:target {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.logo-link,
.header-contacts,
.header-nav-links,
.footer-address-location,
.footer-address-mail,
.footer-address-phone {
    text-decoration: none;
}
.main-section,
.footer-reference-data {
    background: #2f303a;
}
.main-section {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    letter-spacing: 0.06em;
    background: rgba(47, 48, 58, 0.4) url(../images/meeting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main-section-title-body,
.footer-address-location {
    color: var(--main-color-white);
}
.main-section-title-body {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.container.main-container-title-body {
    max-width: 696px;
}
.main-section-button {
    color: var(--main-color-white);
    background-color: var(--main-color-blue);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: inherit;
    padding: 10px 32px;
}
.main-section-button:hover,
.main-section-button:focus,
.main-section-button:active {
    background-color: #188ce8;
    outline: none;
}
.main-section-characteristics-titles {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.main-section-characteristics-list,
.main-section-team-professional-list {
    flex-wrap: wrap;
    gap: 30px;
}
.characteristics-list-icons {
    height: 120px;
    background-color: var(--main-color-background-white);
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-section-images {
    flex-wrap: wrap;
    gap: 25.19px;
}
.section-list-images {
    flex-basis: calc((100% - 50.58px) / 3);
}
.footer-websites {
    margin-top: 5px;
}
.main-section-team-list-icons-professional {
    flex-wrap: wrap;
    gap: 10px;
    height: 44px;
    padding: 0 32px;
}
.footer-websites-list-icons-links {
    flex-wrap: wrap;
    gap: 10px;
}
.list-icons-team {
    flex-basis: calc((100% - 30px) / 4);
    background-color: var(--main-color-white);
    fill: var(--main-color-background-icons);
}
.list-icons-team-size {
    border-radius: 50%;
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-icons-websites {
    flex-basis: calc((100% - 30px) / 4);
    fill: var(--main-color-background-white);
}
.list-icons-websites-size {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-icons-customers {
    flex-basis: calc((100% - 135px) / 6);
    background-color: var(--main-color-white);
    fill: var(--main-color-background-icons);
}
.list-icons-customers-size {
    border: 1px solid #afb1bb;
    border-radius: 4px;
    display: flex;
    padding: 14px 32px;
    justify-content: center;
    align-items: center;
}
.list-icons-customers:hover,
.list-icons-customers-size:focus,
.list-icons-customers-size:active,
.list-icons-customers-size:target {
    fill: var(--main-color-blue);
    border: 1px solid var(--main-color-blue);
}
.list-icons-customers-size:focus,
.list-icons-customers:focus {
    fill: var(--main-color-blue);
    border: 1px solid var(--main-color-blue);
    outline: none;
    text-decoration: none;
}
.list-icons-websites-size:focus,
.list-icons-websites-size:active,
.list-icons-websites-size:target,
.list-icons-team-size:focus,
.list-icons-team-size:active,
.list-icons-team-size:target {
    fill: var(--main-color-white);
    padding: 12px;
    border-radius: 100%;
    display: flex;
    background-color: var(--main-color-blue);
    outline: none;
    text-decoration: none;
}
.list-icons-team:hover,
.list-icons-websites:hover {
    background-color: var(--main-color-blue);
    fill: var(--main-color-white);

    border-radius: 50%;
    background-color: var(--main-color-blue);
    text-decoration: none;
}

.main-section-title-customers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 34px;
}
.section-customers {
    padding: 94px 0;
}
.main-section-customers-list-icons-business {
    flex-wrap: wrap;
    gap: 27px;
}
.footer-reference-data-websites {
    display: flex;
}
.footer-address {
    margin-right: 70px;
}
.footer-websites-titles {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-color-white);
    margin-bottom: 20px;
}

.section-list-images {
    position: relative;
    z-index: -1;
}
.section-list-images-background-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 27px 0;
    color: var(--main-color-white);
}
.section-list-images-background-position {
    position: absolute;
    top: 75.25%;
    left: 1.5px;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.characteristics-list,
.main-section-team-professional-list {
    flex-basis: calc((100% - 90px) / 4);
}
.main-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 55.5px;
}
.main-section-team {
    background-color: var(--main-color-background-white);
}
.main-section-team-description {
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}
.main-section-team-titles {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
}
.section-all-content-description {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section-all-content-type {
    font-size: 16px;
    line-height: 1.87;
}

.header-contacts,
.main-section-characteristics-description,
.main-section-team-description,
.section-all-content-type {
    color: #757575;
}
.main-section-team-list {
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.main-section-team-list,
.section-all-content-list {
    background-color: var(--main-color-white);
}
.section-all-content-list {
    border: 1px solid #eee;
    flex-basis: calc((100% - 78px) / 3);
    /* test */
    /* position: relative; */
    /* overflow: hidden; */
}

.section-all-content-list-information-div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.list-information-div-focus {
    outline: none;
    text-decoration: none;
}
.section-all-content-list:hover .section-all-content-list-information-div-text,
.list-information-div-focus:focus .section-all-content-list-information-div-text {
    transform: translatey(-100%);
}

.section-all-content-list-information-div-text {
    position: absolute;
    width: 370px;
    height: 294px;
    background-color: var(--main-color-blue-90);
    transform: translatex(0%);
    /* transition: transform 250ms ease; */
}

.information-div-text {
    color: var(--main-color-background-white);
    font-size: 18px;
    line-height: 1.55;
    margin: 63px 24px;
}

.header-nav-links-after {
    position: relative;
}
.header-nav-links-after:hover::after,
.header-nav-links:focus::after,
.header-nav-links-active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: var(--main-color-blue);
}

.footer-address-phone,
.footer-address-mail {
    color: rgba(255, 255, 255, 0.6);
}
.section-menu-links-aling {
    justify-content: center;
    margin-bottom: 34px;
    flex-wrap: wrap;
    gap: 8px;
}
.section-all-content {
    flex-wrap: wrap;
    gap: 26px;
}
#todo {
    padding-right: 18px;
    padding-left: 17px;
}
#sitios-web {
    padding-right: 24px;
    padding-left: 24px;
}
#marketing {
    padding-right: 26px;
    padding-left: 27px;
}
#design {
    padding-right: 26px;
    padding-left: 25px;
}
#application {
    padding-right: 24px;
    padding-left: 23px;
}
.container-imagenes-all {
    padding: 20px 24px 20px 24px;
    max-width: 370px;
}
/* Importar Fuentes https://fonts.google.com 
GitHub-repositories
https://github.com/CODEKAPP/goit-markup-hw-03
GitHub-Pages
https://codekapp.github.io/goit-markup-hw-03/

*/

/* .section{
    display: flex;
    justify-content: space-between;
} */
