/*  .☻/ 
    /▌ . H e l l o . . . Estilos Base CCS 
    / \
|☠| ¯\_(ツ)_/¯ |☠| ಠ_ಠ |☠| ƪ (ړ ײ) ƪ |☠| <(^ _ ^)>|☠| (ง • ̀_ • ́) ง |☠| */
*,
::before,
::after {
    box-sizing: border-box;
}
:root {
    --main-color-black: #212121;
    --main-color-blue: #2196f3;
    --main-color-white: #fff;
    --main-text: 'Raleway';
    --main-color-header: #ececec;
}
body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: var(--main-color-black);
    font-size: 14px;
    letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
    padding: 0;
    font-size: inherit;
}
.header-container,
.header-container-nav,
.header-container-nav-list,
.header-container-contacts,
.header-container-contacts-list,
.main-section-characteristics-list,
.main-section-images,
.main-section-team-professional-list,
.section-menu-links-aling,
.section-all-content,
header {
    display: flex;
}
.header-container,
.header-contacts,
.header-container-nav-list {
    align-items: center;
}
.header-container-contacts-list {
    margin-left: auto;
    align-items: center;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.main-section-profession{
    padding-bottom: 94px;
}
.header-container-nav > .logo-link {
    margin-right: 93px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-color {
    border-bottom: 1px solid var(--main-color-header);
}
.container-nav-list {
    padding: 32px 0;
}
.container-nav-list:not(:last-child) {
    margin-right: 50px;
}
.container-contacts-list:last-child {
    margin-left: 50px;
}
.container-imagenes-team {
    padding: 30px 0;
}
.footer-reference-data {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo-link {
    margin-bottom: 9px;
    display: block;
}
.footer-address-location {
    margin-bottom: 2px;
    display: block;
}
.footer-list:first-child {
    margin-bottom: 2px;
    
}
.button-property {
    cursor: pointer;
}
.list-none {
    list-style: none;
}
.header-nav-links {
    color: var(--main-color-black);
}
.logo-link {
    font-family: var(--main-text);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.header-nav-links,
.header-contacts {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
}
.footer-address-location,
.footer-address-mail,
.footer-address-phone,
.main-section-characteristics-description {
    line-height: 1.71;
    font-style: normal;
}
.logo-link,
.logo-link:hover,
.logo-link:focus,
.logo-link:active,
.header-nav-links:hover,
.header-nav-links:focus,
.header-nav-links:active,
.header-nav-links:target,
.header-contacts:hover,
.header-contacts:focus,
.header-contacts:active,
.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-mail:active,
.footer-address-location:hover,
.footer-address-location:focus,
.footer-address-location:active,
.footer-address-phone:hover,
.footer-address-phone:focus,
.footer-address-phone:active {
    color: var(--main-color-blue);
    outline: none;
}
.list-none .header-nav-links.header-nav-links-active {
    color: var(--main-color-blue);
}
.list-none .section-menu-links.section-menu-links-button-active {
    color: var(--main-color-white);
    background: var(--main-color-blue);
}
.section-menu-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: #f5f4fa;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 4px;
    border: none;
    font-family: inherit;
    padding: 6px 0;
}
.section-menu-links-aling,
.main-section-images {
    text-align: center;
}
.section-menu-links:hover,
.section-menu-links:focus,
.section-menu-links:active,
.section-menu-links:target {
    color: var(--main-color-white);
    background: var(--main-color-blue);
}
.logo-link,
.header-contacts,
.header-nav-links,
.footer-address-location,
.footer-address-mail,
.footer-address-phone {
    text-decoration: none;
}
.main-section {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    letter-spacing: 0.06em;
}
.main-section,
.footer-reference-data {
    background: #2f303a;
}
.main-section-title-body,
.footer-address-location {
    color: var(--main-color-white);
}
.main-section-title-body {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.container.main-container-title-body {
    max-width: 696px;
}
.main-section-button {
    color: var(--main-color-white);
    background-color: var(--main-color-blue);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 4px;
    border: none;
    font-family: inherit;
    padding: 10px 32px;
}
.main-section-button:hover,
.main-section-button:focus,
.main-section-button:active {
    background-color: #188ce8;
    outline: none;
}
.main-section-characteristics-titles {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.main-section-characteristics-list,
.main-section-team-professional-list {
    flex-wrap: wrap;
    gap: 30px;
}
.main-section-images {
    flex-wrap: wrap;
    gap: 25.19px;
}
.section-list-images {
    flex-basis: calc((100% - 50.58px) / 3);
}
.characteristics-list,
.main-section-team-professional-list {
    flex-basis: calc((100% - 90px) / 4);
}
.main-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 55.5px;
}
.main-section-team {
    background-color: #f5f4fa;
}
.main-section-team-description {
    font-size: 16px;
    line-height: 1.18;
}
.main-section-team-titles {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
}
.section-all-content-description {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section-all-content-type {
    font-size: 16px;
    line-height: 1.87;
}
.header-contacts,
.main-section-characteristics-description,
.main-section-team-description,
.section-all-content-type {
    color: #757575;
}
.main-section-team-list {
    text-align: center;
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); */
    border-radius: 0px 0px 4px 4px;
}
.main-section-team-list,
.section-all-content-list {
    background-color: var(--main-color-white);
}
.section-all-content-list {
    border: 1px solid #eee;
    flex-basis: calc((100% - 78px ) / 3);
}
.footer-address-phone,
.footer-address-mail {
    color: rgba(255, 255, 255, 0.6);
}
.section-menu-links-aling {
    justify-content: center;
    margin-bottom: 34px;
    flex-wrap: wrap;
    gap: 8px;
}
/* .menu-links-list{
    flex-basis: calc((100% - auto) / 5);
} */
.section-all-content {
    flex-wrap: wrap;
    gap: 26px;
}
#todo {
    padding-right: 18px;
    padding-left: 17px;
}
#sitios-web {
    padding-right: 24px;
    padding-left: 24px;
}
#marketing {
    padding-right: 26px;
    padding-left: 27px;
}
#design {
    padding-right: 26px;
    padding-left: 25px;
}
#application {
    padding-right: 24px;
    padding-left: 23px;
}
.container-imagenes-all {
    padding: 20px 24px 20px 24px;
    max-width: 370px;
}
/* Importar Fuentes https://fonts.google.com 
GitHub-repositories
https://github.com/CODEKAPP/goit-markup-hw-03
GitHub-Pages
https://codekapp.github.io/goit-markup-hw-03/

*/

/* .section{
    display: flex;
    justify-content: space-between;
} */
